@{
    dynamic currentModel = Model;

    if (currentModel.HtmlUnits == null && currentModel.HtmlUnits.Count <= 0)
    {
        return;
    }
}

<ul class="fzlist">
    @foreach (dynamic item in currentModel.HtmlUnits)
    { 
        <li><a href="@item.Title.Href" title="@item.Title.Title"  target="@item.Title.Target">@item.Title.Title</a></li>
    }
</ul>


<script type="text/javascript">
    {
        "HtmlUnits":[
           {
               "ChildHtmlUnit":[
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"阿迪搏击(cwg)",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  },
                  {
                      "Alt":null,
                      "ChannelPrice":null,
                      "Color":null,
                      "Href":"http:\/\/www.baidu.com",
                      "IsBold":false,
                      "IsItalic":false,
                      "MacketPrice":null,
                      "OtherPrice":null,
                      "SortOrder":0,
                      "Src":null,
                      "Target":"_blank",
                      "Title":"耐克360",
                      "YTPrice":null
                  }
               ],
               "ExpandElement":[

               ],
               "Image":{
                   "Alt":null,
                   "ChannelPrice":null,
                   "Color":null,
                   "Href":null,
                   "IsBold":false,
                   "IsItalic":false,
                   "MacketPrice":null,
                   "OtherPrice":null,
                   "SortOrder":0,
                   "Src":null,
                   "Target":"_blank",
                   "Title":null,
                   "YTPrice":null
               },
               "SubTitle":{
                   "Alt":null,
                   "ChannelPrice":null,
                   "Color":null,
                   "Href":null,
                   "IsBold":false,
                   "IsItalic":false,
                   "MacketPrice":null,
                   "OtherPrice":null,
                   "SortOrder":0,
                   "Src":null,
                   "Target":"_blank",
                   "Title":null,
                   "YTPrice":null
               },
               "Title":{
                   "Alt":null,
                   "ChannelPrice":null,
                   "Color":null,
                   "Href":null,
                   "IsBold":false,
                   "IsItalic":false,
                   "MacketPrice":null,
                   "OtherPrice":null,
                   "SortOrder":0,
                   "Src":null,
                   "Target":"_blank",
                   "Title":null,
                   "YTPrice":null
               }
           }
        ]
    }
</script>
