<?xml version="1.0" encoding="utf-8" ?>
<dispatcher>
  <task name="tuijianfenci">
    <source name="tuijianfenci.source" path="F:\\t\\s\\zhege.txt">
    </source>
    <target name="tuijianfenci.target" path="" type="" >
      <server name="1" path="F:\\t\\t\\zhege.txt"></server>
      <server name="2" path="F:\\t\\t2\\zhege.txt"></server>
    </target>
    <endHandle name="a" type="web">
      <action name="solr">
        <path>
          <![CDATA[
        http://127.0.0.1:8080/solr36/admin/cores?core=product&action=reload
        ]]>
        </path>
      </action>
      <action name="tuijian">
        <path>
          <![CDATA[
        http://127.0.0.1:8080/solr36/admin/cores?core=styleproduct&action=reload
        ]]>
        </path>
      </action>
    </endHandle>
  </task>
</dispatcher>